*.Identifier
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.bsp/
.bundle/
.idea
.idea*
.jekyll-cache/
.jekyll-metadata
.yardoc
.yardoc/
/spec/reports/
Gemfile.lock
Notepad++/
__MACOSX
_site/
binstub/
out/
pkg/
project/
spec/status_persistence.txt
target/
tmp/
~*
